<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<div id="componentePrincipal">
    <mat-toolbar>
        <mat-toolbar-row>
            <div>
                <button mat-icon-button [matMenuTriggerFor]="appMenuPage">
                    <mat-icon class="iconeMenu" matTooltip="Menu">menu</mat-icon>
                </button>
            </div>
            <div class="server">
                <mat-icon matTooltip="Status Servidor" [ngClass]="{'statusServer': statusServer}">radio_button_unchecked</mat-icon>
            </div>
            <div class="keyboard_arrow_down">

                <button mat-icon-button [matMenuTriggerFor]="appMenu">
                    <mat-icon>keyboard_arrow_down</mat-icon>
                </button>
            </div>
        </mat-toolbar-row>
    </mat-toolbar>
    <mat-menu class="menuSettings" #appMenu="matMenu">
        <button mat-menu-item>
            <mat-icon class="iconMenu">settings</mat-icon> Configurações
        </button>
        <button mat-menu-item routerLink="login">
            <mat-icon class="iconMenu">exit_to_app</mat-icon> Sair
        </button>
    </mat-menu>
    <!-- // menu das paginas -->
    <mat-menu class="menuPage" #appMenuPage="matMenu">
        <button mat-menu-item routerLink="home">
            <span>Inicio</span>
        </button>
        <button mat-menu-item>
            <span>Cadastro usuario</span>
        </button>
        <button mat-menu-item routerLink="administrativo">
            <span>Administrativo</span>
        </button>
        <button mat-menu-item routerLink="modelo">
            <span>Modelo</span>
        </button>
        <button mat-menu-item routerLink="slide">
            <span>Slide</span>
        </button>
    </mat-menu>


    <router-outlet></router-outlet>
</div>