#componentePrincipal{
    mat-toolbar{
        // background: #283e4a;
        background-image: url(../assets/imagens/madeira.jpg);
        .keyboard_arrow_down{
            width: 100%;
            text-align: end;
            mat-icon{
                color: white;
            }
        }
        .server{
            width: 100%;
            text-align: end;
            mat-icon{
                color: red;
            }
            .statusServer{
                color: green !important;
            }
        }
    }
    .menuSettings{
        .iconMenu{

        }
    }
    .menuPage{

    }
    .iconeMenu{
        color: white;
    }
}