#home {
   .slide{
       mat-card{
            position: absolute;
            width: 100%;
            margin-top: 31%;
            .bolas{
                position: absolute;
                width: 98%;
                text-align: center;
                .bola {
                    border-radius: 50%;
                    display: inline-block;
                    height: 9px;
                    width: 10px;
                    background-color: #fff;
                    border: 1px solid rgba(0,0,0,.2);
                    margin: 5px;
                }
                .bolaAtivo{
                    padding: 1px;
                }
            }
       }
   }
}
