<div id="home">
    <div>
        <mat-card-title>
            <span>Casa Sustentável Pré-Fabricada</span>
        </mat-card-title>
    </div>
    <div class="slide">
        <mat-card (mouseenter)="btnNext = true" (mouseleave)="btnNext = false" [ngStyle]="imgSelecionada.imagem">
            <button *ngIf="btnNext" class="btnNext rigth" (click)="proximoSlide()">
                <mat-icon>chevron_right</mat-icon>
            </button>
            <button *ngIf="btnNext" class="btnNext left" (click)="voltarSlide()">
                <mat-icon>chevron_left</mat-icon>
            </button>
            <div class="bolas">
                <div *ngFor="let slide of listaSlide" [ngClass]="{'bolaAtivo':imgSelecionada.imagem == slide.imagem}"
                    class="bola" (click)="mudaSlide(slide)"></div>
            </div>
        </mat-card>
    </div>
    <div>
        <mat-card-title> <span>Modelos de casas Pré-Fabricada</span></mat-card-title>
    </div>
    <div class="modelos">
        <div class="modelo" *ngFor="let modelo of listaModelo">
            <mat-card [ngStyle]="modelo.imagem"></mat-card>
        </div>
    </div>
    <mat-card-footer>teste</mat-card-footer>
</div>