#modelo{
    .imagem{
            display: flex;
            .card-imagem {
                width: 125px !important;
                height: 125px !important;
            }
        .active{
            outline: auto;
            // background: #7CFC8F;
        }
        .naoActive{
            opacity: 0.4;
        }
    }
    .labelImagem {
        display: flex;
        align-items: center;
        width: 100%;
        height: 100%;
    }
    .imgSelected{
        .imagemPrincipal{
            margin-left: 25%;
            margin-right: 25%;
            padding-bottom: 29%;
        }
        .txtAreaDescricao{
            position: absolute;
            left: 79%;
            right: 0;
            top: 13%;
        }
        .btnDescricao{
            position: absolute;
            right: 1%;
            top: 72%;
            background-color: cornflowerblue;
            color: white;
        }
    }
    .btns{
        position: static;
        text-align: end;
        padding-right: 2%;
        .salvar{
            background-color: darkgray;
        }
    }
    mat-spinner{
        position: absolute;
        right: 2%;
    }
}